<link rel="stylesheet" href="assets/home.css">

<div class="box">
  <h1>Welcome to the Most Useless Website</h1>
  <p>in the Observable Universe</p>
  <%= link_to "Signup", signup_url, class: "btn btn-success" %>
  <%= link_to "Login", login_url, style: "margin-left: 5px;" %>
  <br>
  <a href="https://github.com/RSS-Dev/the-most-useless">View on GitHub</a>
</div>
