<div class="universe">
  <div class="box">
    <h1>Welcome to the Most Useless Website</h1>
    <p>in the Observable Universe</p>
    <a href="https://github.com/RSS-Dev/the-most-useless">View on GitHub</a>
  </div>
</div>
