<div class="universe">
  <div class="container">
    <h1>Welcome to the Most Useless Website</h1>
    <p>in the Observable Universe</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/RSS-Dev/the-most-useless">Github <span class="fa fa-arrow-right"></span></a>
  </div>
</div>
